{% extends 'users/layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Course</title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'learning_styles.css' %}">
    <link rel="stylesheet" href="{% static 'teaching_styles.css' %}"> 
 
    {% endblock %}
</head>

{% block body %}
    <div class="courses-header">
        <h1 class="header">Create New Course</h1>
    </div>
    <div class="container">
        <form id="create-course-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="form-group">
                {{ form.level.label_tag }}
                {{ form.level }}
            </div>
            <div class="form-group">
                {{ form.field_of_study.label_tag }}
                {{ form.field_of_study }}
            </div>
            <button type="submit" id="create-course-btn" class="btn primary-btn">Create Course</button>
        </form>
    
    </div>
{% endblock %}
</html>
